body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 0px;
}
.container{
    width: 1230px;
    margin: 0px auto;
}
a{
    text-decoration: dashed;
    color: black;
}
.banner a{
    color: #b0b0b0;
    margin-right: 10px;
}
.banner a:hover{
    color: aliceblue;
}
.banner{
    background-color: #333;
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
}
.banner .left{
    float: left;
}
.banner .right{
    float: right;
}
.daohang{
    height: 100px;
    border: 1px dashed green;
    line-height: 100px;
}
.daohang .logo{
    float: left;
    margin-right: 180px;
    margin-top: 25px;
    height: 75px;
}
.daohang .logo img{
    width: 56px;
    height: 56px;
}
.daohang .nav{
    float: left;
}
.daohang .nav a{
    color: #333;
}
.daohang .nav a:hover{
    color: orange;
}
.daohang .search{
    float: right;
    border: 1px solid #ccc;
    height: 56px;
    width: 300px;
    margin-top: 25px;
    line-height: 20px;
}
.daohang .search:hover{
    border-color: darkgrey;
}
.daohang .search .ipt{
    height: 50px;
    width: 240px;
    border: none;
    outline: none;
}
.daohang .search a{
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-left: 1px solid #ccc;
    float: right;
}
.daohang .search a:hover{
    background-color: orange;
}
.lunbotu .left{
    float: left;
    width: 230px;
    height: 380px;
    background-color: #959A97;
}
.lunbotu .right{
    float: left;
    width: 999px;
}
.lunbotu .category{
    list-style: none;
    line-height: 30px;
    padding-left: 0;
}
.lunbotu .category a{
    color: white;
    display: block;
    padding-left: 35px;
}
.lunbotu .category a:hover{
    background-color: orange;
}
#lunbotu{
    width: 999px;
    border: 1px dashed #ccc;
    position: relative;
}
#lunbotu img{
    width: 100%;
}
#lunbotu .nums{
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0px;
    width: 100%;
}
#lunbotu .nums span{
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid #343434;
    background-color: white;
    border-radius: 10px;
    margin-right: 3px;
}
